/* LESS Document */

.appui-cron-main-container{
  .appui-cron-pane-list {
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    .bbn-toolbar-separator {
      margin: .5em;
    }
  }
  .bbn-diode {
    width: 16px;
    height: 16px;
  }
  .bbn-toolbar > div > div{
    vertical-align: middle;
    
  }
}